<div class="container">
  <div class="col-6"></div>
<div class="card-trip">
  <img src="../assets/pexels-photo-1232152.jpeg">
  <div class="card-trip-infos">
    <div>

      <h2><%= @cocktail.name %></h2>
      <% @cocktail.doses.each do |dose| %>
      <p>

        <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "delete", dose_path(dose), method: :delete , data: { confirm: "Are you sure?" } %>

    </p>
    <% end  %>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>



</div>
