
<div class="container">
<h1>add a dose</h1>
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
 <%#= @cocktail récupère le cocktail sur lequel on doit trouver la dose ] %>

 <%= f.input :description %>
 <%= f.association :ingredient %>
 <%#= on pourrait aussi fait <f.input, collection: Ingredient.all >  il comprend que c'est le name qui nous intéresse . A l'inverse, il nous renvoie en params l'id de l'ingrédient sélectionné%>

 <%= f.submit "create you cocktail", class: "btn btn-primary" %>
<% end %>
</div>

 <%#= f.input :ingredient , collection: [Ingredient.all.map { |i| i.name } ] %>
